{% include 'partials/header.html' %}
<form action="{% url 'add' %}" method="post">
{% csrf_token %}
<div>
  <div class="four wide column"> 
    <label for="title">Title</label>
    </div>
  <div class="four wide column"><input type="text" name="title" id="title" value="{{todo.title}}"/></div>
</div>

  <label for="text">Text</label><br />
  <textarea name="text" id="text" >{{todo.text }}</textarea>
  <br>
  <select name="priority" >
  {% for priority in priorities %}
  <option value="{{priority.id}}">{{priority.name}}</option> 
  {% endfor %}
  </select>
  <br>
  <input type="submit" value="Submit" />
</form>
<br>
<a href="/todos">Go Back</a>
{% include 'partials/footer.html' %}
