
{% include 'partials/header.html' %}
  <div class="four wide column"><h1>Title</h1></div>
  <div class="four wide column"><h1>Text</h1></div>
  <div class="four wide column"><h1>Priority</h1></div>
  <div class="four wide column"><h1>Actions</h1></div>
{% for todo in todos %}
  <div class="four wide column"><a href="/todos/details/{{todo.id}}">{{todo.title}}</a></div>
  <div class="four wide column">{{todo.text}}</div>
  <div class="four wide column">{{todo.priority}}</div>
  <div class="four wide column"><button class="negative ui button del" value="{{todo.id}}">delete</button> <button class="positive ui button edit" value="{{todo.id}}">edit</button></div>
{% endfor %}
 {% block javascript %}
<script>
    $(".del").click(function () {
     var id = this.value;
     $.ajax({
                url: "/todos/delid/"+id,
                type: "get",
                dataType: "json",
                
                success: function () {
                     location.reload();
                    console.log("Deleted data successfully");
                },
                error: function () {
                    console.log("Delete failed!");
                }
            });
    });
     $(".edit").click(function () {
     var id = this.value;
     $.get({
                url: "/todos/edit/"+id,
                success: function (data) {
                   
                    window.history.pushState("cools", "edit-"+id, "/todos/edit/"+id);
                     $("html").html(data);

                },
                
            });
    });
  </script>
 {% endblock %}
{% include 'partials/footer.html' %}

