
{% include 'partials/header.html' %}
  <div class="four wide column"><h1>Title</h1></div>
  <div class="four wide column"><h1>Text</h1></div>
  <div class="four wide column"><h1>Priority</h1></div>
  <div class="four wide column"><h1>Actions</h1></div>
{% for todo in todos %}
  <div class="four wide column"><a href="/todos/details/{{todo.id}}">{{todo.title}}</a></div>
  <div class="four wide column">{{todo.text}}</div>
  <div class="four wide column">{{todo.priority}}</div>
  <div class="four wide column"><button class="negative ui button del" value="{{todo.id}}">delete</button> 
  <button class="positive ui button edit" value="{{todo.id}}">edit</button></div>
{% endfor %}
 {% block javascript %}
<script>
     $(".edit").click(function () {
     var id = this.value;
     console.log(id);
     $.get({
                url: "/todos/edit/"+id,
                success: function (data) {
                   
                    alert(data);
                     $("html").html(data);

                },
                
            });
    });
    $(".del").click(function () {
     var id = this.value;
     var r = confirm("Are u sure u want to delete");
     if (r == true) { 
     $.ajax({
                url: "/todos/delid/"+id,
                type: "get",
                dataType: "json",
                success: function () {
                    location.reload();
                    console.log("Deleted data successfully");
                },
                error: function () {
                    console.log("Delete failed!");
                }
            
            });
            }else{
                alert=("not delete");
            }
    });
    
  </script>
 {% endblock %}
{% include 'partials/footer.html' %}

